html{
	margin:0;
	padding:0;
	font-family: Helvetica Neue, sans-serif;
	font-size: 0.9em;
	background-color: rgb(230, 230, 230);
}

body{
	width: 100%;
	margin:0;
	padding:0;
}

/*CSS per DEBUG*/

p.query{
	background-color: yellow;
}


/*CSS per header universale*/

#header{
	background-image:url('../img/background13.JPG');
	<!--background-size: 100% 100%;-->
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size:cover;
	margin: 0;
	padding: 7%;
	background-color: rgb(102, 0, 204);
	box-shadow: 0px 7px 3px #dedede;
}

#site-title{
        margin: 0 0 0 3em;
	text-decoration:none;
	color: #FFF;
	font-variant: small-caps;
	font-size: 6em;
}

/*#header h1{
	margin: 0 0 0 8em;
	text-decoration:none;
	color: #FFF;
	font-variant: small-caps;
	font-size: 2.5em;
	
}

#header h1 a{
	text-decoration:none;
	color: #FFF;
	font-variant: small-caps;
	font-size: 2.5em;
}*/

#header h2{
	padding: 0.5%;
	margin: 0 0 0 10em;
	text-decoration: none;
	color: #FFF;
	font-variant: small-caps;
	font-size: 1.8em;

}

#logo{
    /*background-image:url('../img/ACMMS - logo.png');
    background-repeat:no-repeat;
    background-position:center;*/
	display: block;
	float: left;
	width: 14em;
	height: 10em;
	padding: 0;
	margin: 0;
}

img{
	width: 100%;
	height:100%;
}

#logo img{
	border: none;
}


/*CSS per possibile slider Home*/

/*#slider{
	padding: 0.2em 1em;
}

#slider img{
	box-shadow: 2px 2px 1px #dedede;
}*/

#slide{
        margin: 0 2%;
        box-shadow: 2px 2px 1px #dedede;
}



/*CSS per menu a schede*/

#menu ul{
	display:block;
	float:left;
	margin: 0;
	padding: 0;
}

#menu li{
	list-style: none;
	display:block;
	float: left;
	padding: ;
	margin:0;
	border: 1px solid yellow;
	color: white;
}

#menu li a {
		box-shadow: 7px 7px 3px #dedede;
        background-color: rgb(102, 0, 204);
        color: #FFF;
        font-weight: bold;
        font-size: 1.1em;
        text-decoration: none;
        width: 180px;
        height: 42px;
        display: block;
        float: left;
        line-height: 42px;
        text-align: center;
}



/* colore schede illuminate #ededed
larghezza schede	width: 150px;
        			height: 35px;
*/

#menu li a:hover, #menu li a:active { 
        background-color: yellow;
        color: rgb(0,0,0);
}

#menu{
	padding: 2%;
	overflow: hidden;
}



/*CSS per percorso di navigazione*/

#path{
	padding: 0.2em 0 0.5em 2%;
}


/*CSS per main-content Home*/

.content{
	padding: 2%;
}

#container{	
	/*position: relative;
	z-index: 20;
	bottom: -2em;*/
	margin: 0 7% 0 7%;
	padding: 1%;
	background-color: rgb(255,255,255);
}

#main-content{
	margin: 0px 30% 0px 0;
}

#main-content h2{
	text-align: center;
	font-size: 3em;
}

/*CSS per side-content in Home*/

#side-content{
	box-shadow: 4px 4px 3px #dedede;
	display: block;
	float:right;
	margin: 1% 2% 1% 1%;
	width:22%;
	border: 1px solid yellow;
	background-color: rgb(102, 0, 204);
}


h2.right{
        font-variant:small-caps;
	color: #FFF;
	text-decoration: underline;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
}

p.event{
        color: #FFF;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        text-align: right;
}

.titleevent{
        font-variant:small-caps;
        font-size: 1.2em;
}




/*CSS per Chi Siamo e cosa facciamo*/

#main-content2{
	margin: 0;
}

/*CSS per Login */

#error-immission{ 
        padding: 0em 0 0 1%;
        color: rgb(255,0,0);
        margin: 1% 0 !important;
        background: yellow;
}


/*CSS per form*/

#form{
	/*border:1px solid black;*/
	margin: 0 1%;
	padding: 1.5% 1.5% 0 1.5% ;
}

#form h2 {
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        padding: 0 1%;
}

#form p{
        margin: 1% 0 2% 0;
        padding: 0 1%;
}

.form p{
       margin: 1% 0 2% 0;
        padding: 0 1%;     
}

fieldset{
	border: 1px dashed #DDD;
	padding: 2%;
	margin: 5% 0 0 0;
}

legend{
	font-size: 90%;
	font-weight: bold;
	/*color: #FFF;
	background: rgb(102, 0, 204) none repeat scroll 0% 0%; TROPPO SIMILE ALLE SCHEDE CONFONDE L'UTENTE
	border: 0.5px solid yellow;*/
	padding: 4px 8px;
	border: 1px dashed #DDD;
}

label {
    width: 140px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    padding-left: 6px;
    background: #E7E7E7 none repeat scroll 0% 0%;
    float: left;
    display: block;
    font-size: 105%;
    color: #333;
}

select{
	width: 140px;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    padding-left: 6px;
    background: #E7E7E7 none repeat scroll 0% 0%;
    font-size: 105%;
    color: #333;
}

textarea{
	min-height: 150px;
	min-width: 290px;
}

/*#password, #username{
        width: 160px;
    height: 30px;
    line-height: 35px;
    margin-right: 5px;
    padding-left: 6px;
    background: #E7E7E7 none repeat scroll 0% 0%;
    font-size: 105%;
    color: #333;
}*/

.text{
    background-color: #FFF;
    width: 290px;
    color: #666;
    padding: 3px 8px;
    font-size: 1em;
    font-family: "trebuchet ms",verdana,arial,helvetica,sans-serif;
    border: 1px solid #CCC;
    height: 27px;
}

.data{
	background-color: #FFF;
    width: 40px;
    color: #666;
    padding: 3px 8px;
    font-size: 1em;
    font-family: "trebuchet ms",verdana,arial,helvetica,sans-serif;
    border: 1px solid #CCC;
    height: 35px;
}

.button {
    background: rgb(102, 0, 204) none repeat scroll 0% 0%;
    font-size: 12px;
    color: #FFF;
    padding: 7px 15px;
    border: 1px solid yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
	 margin-right: 80px;
}

#form h1{
	padding: 1%;
	margin: 0;
}

.button:active { background-color: yellow; }


/*CSS per description list*/

#main-content2 dl dt{
	text-align:center;
	border: 1px solid yellow;
	background: rgb(102, 0, 204);
}

dl{
	margin:0;
}


#main-content2 dd{
	margin: 0;
	padding: 2%;
	border: 1px solid yellow;
	background: rgb(240, 230, 250);
}

.name{
	padding: 0.2em;
	margin: 0.6em 0 0 0;
	font-size: 1.3em;
	font-weight:bold;
	color: rgb(255,255,255);
}

.picture{
	display:block;
	float:left;
    width: 9em;
    height: 9em;
	padding: 0;
}

div.def{
	min-height: 9.5em;
}

.definition{
	padding: 1%;
	margin-left: 10em;
}

.big-picture{
	margin: 0 auto;
    width: 30em;
    height: 19em;
	padding: 0;
}

.event-definition{
	padding: 1%;
}

#top-page-link{
	margin: 0;
	padding-top: 1em;
	text-align:center;
}


/*CSS per il footer*/

#footer{
	background-image:url('../img/stars.jpg');
	/*background-size: 100% 100%;*/
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size:cover;
	margin:0;
	padding: 2% 3% 1% 3%;
	background-color: rgb(102, 0, 204);
	text-align: center;
	color:white;
}

#footer .left{
	margin-right: 60%;
	padding: 1%
	width: 40%;
}

#footer ul{
	padding-left: 0;
	list-style: none;
	
}

#footer .right{
	display: block;
	float: right;
	padding: 0;
	width: 50%;
}

#footer a{
	color: #FFF;
}

#footer p{
        margin: 0.5em 0;
}

#logofooter{
        width: 70px;
        height: 50px;
        margin-bottom: 0.7em;
}
